{block title}{_messages.titles.sign_in}{/block}
{block content}
    <h2>{_'messages.user.signIn'}</h2>
    {control signInForm}
    <p><a href="{plink Sign:Up}">{_messages.user.noAccount_login}</a></p>
{/block}
