hello: "Ahoj světe"
welcome: "Vítejte na Disputo!"
changeLocale: "Změnit jazyk"
currentLocale: "Aktuální jazyk: %locale"
selectLocale: "Vyberte jazyk"
locales:
    en: "Angličtina"
    cs: "Čeština"
    sk: "Slovenština"
user:
    name: "Jméno"
    email: "Email"
    username: "Uživatelské jméno"
    username_required: "Zadejte uživatelské jméno"
    password_required: "Zadejte heslo"
    password: "Heslo"
    signIn: "Přihlásit se"
    signIn_success: "Přihlášení bylo úspěšné"
    signIn_error: "Neplatné přihlašovací údaje"
    signUp: "Registrovat se"
    logout: "Odhlásit se"
    name_required: "Zadejte jméno"
    surname: "Příjmení"
    surname_required: "Zadejte příjmení"
    email_required: "Zadejte email"
    politicalAccount: "Politický účet"
    politicalAccount_description: "Zaškrtněte, pokud se jedná o politický účet."
    publicIdentity: "Veřejná identita"
    publicIdentity_description: "Zaškrtněte, pokud chcete mít veřejnou identitu."
    passwordVerify: "Ověření hesla"
    passwordVerify_required: "Zadejte ověření hesla"
    passwordMismatch: "Hesla se neshodují"
    signUp_success: "Registrace byla úspěšná"
    signUp_error: "Registrace se nezdařila"
    exceptions:
        notFound: "Uživatel nenalezen"
        alreadyExists: "Uživatel s tímto uživatelským jménem již existuje"
        alreadyExists_email: "Uživatel s tímto emailem již existuje"
        invalidCredentials: "Neplatné přihlašovací údaje"
        passwordMismatch: "Hesla se neshodují"
        unauthorized: "Neoprávněný přístup"
menu:
    home: "Domů"
    about: "O Disputo"
    contact: "Kontakt"
    settings: "Nastavení"
    help: "Nápověda"