hello: "Hello world"
region:
  list: "Regions"
  name: "Region name"
  name_required: "Enter region name."
  parent: "Parent region"
  parent_prompt: "(no parent)"
  add: "Add region"
  add_new: "Add new region"
  added: "Region added successfully."
  exists: "Region with same name exists at this level."
  no_permission_add: "You don't have permission to add regions."
area:
  list: "Areas"
  name: "Area name"
  name_required: "Enter area name."
  parent: "Parent area"
  parent_prompt: "(no parent)"
  add: "Add area"
  add_new: "Add new area"
  added: "Area added successfully."
  exists: "Area with same name exists at this level."
  no_permission_add: "You don't have permission to add areas."
menu:
  region: "Regions"
  area: "Areas"
titles:
  region: "Regions"
  area: "Areas"