hello: "Ahoj světe"
welcome: "Vítejte na Disputo!"
changeLocale: "Změnit jazyk"
currentLocale: "Aktuální jazyk: %locale"
selectLocale: "Vyberte jazyk"
locales:
    en: "Angličtina"
    cs: "Čeština"
    sk: "Slovenština"
user:
    name: "Jméno"
    email: "Email"
    username: "Uživatelské jméno"
    username_required: "Zadejte uživatelské jméno"
    password_required: "Zadejte heslo"
    password: "Heslo"
    signIn: "Přihlásit se"
    signIn_success: "Přihlášení bylo úspěšné"
    signIn_error: "Neplatné přihlašovací údaje"
    signUp: "Registrovat se"
    requestedRole: "Požadovaná role"
    requestedRole_prompt: "Vyberte roli"
    requestedRole_required: "Vyberte roli, o kterou žádáte"
    roleRequest_send: "Odeslat žádost"
    roleRequest_success: "Žádost o roli byla úspěšně odeslána. Po schválení budete informováni."
    roleRequest_duplicate: "Již jste o tuto roli požádali. Vyčkejte na vyřízení."
    logout: "Odhlásit se"
    name_required: "Zadejte jméno"
    surname: "Příjmení"
    surname_required: "Zadejte příjmení"
    email_required: "Zadejte email"
    politicalAccount: "Politický účet"
    politicalAccount_description: "Zaškrtněte, pokud se jedná o politický účet."
    publicIdentity: "Veřejná identita"
    publicIdentity_description: "Zaškrtněte, pokud chcete mít veřejnou identitu."
    passwordVerify: "Ověření hesla"
    passwordVerify_required: "Zadejte ověření hesla"
    passwordMismatch: "Hesla se neshodují"
    signUp_success: "Registrace byla úspěšná"
    signUp_error: "Registrace se nezdařila"
    profile: "Můj profil"
    profile_description: "Zde můžete upravit svůj profil."
    profile_update_success: "Profil byl úspěšně aktualizován"
    profile_update_error: "Aktualizace profilu se nezdařila"
    notLoggedIn: "Nejste přihlášeni"
    noAccount_login: "Nemáte účet? Přihlaste se"
    yourRole: "Vaše role"
    politicalParty: "Politická strana"
    politicalParty_prompt: "Vyberte politickou stranu"
    politicalParty_required: "Vyberte politickou stranu"
    requests: 
        id: "ID žádosti"        
        roleRequests: "Vaše žádosti"
        roleRequested: "Požadovaná role"
        currentRole: "Aktuální role"
        status: "Stav žádosti"
        created: "Vytvořeno"
        status_pending: "Čeká na schválení"
        status_approved: "Schváleno"
        view: "Zobrazit uživatelské žádosti"
        listTitle: "Uživatelské požadavky"
        user: "Uživatel"
        type: "Typ"
        actions: "Akce"
        approve: "Schválit"
        reject: "Zamítnout"
        listMenu: "Uživatelské požadavky"
        historyTitle: "Historie požadavků"
        notAllowed: "Nemáte oprávnění provést tuto akci."
        notFound: "Požadavek nebyl nalezen."
        approved: "Schválen."
        rejected: "Zamítnut."
        approveError: "Při schvalování požadavku došlo k chybě."
        requestRole: "Požádat o roli"
        roleRequest_error: "Při zpracování žádosti o roli došlo k chybě."
        roleRequest_success: "Žádost o roli byla úspěšně odeslána."
        approvedTimestamp: "Datum schválení"
    role:
        guest: "Host"
        unapprovedUser: "Neschválený uživatel"
        unapproveduser: "Neschválený uživatel"
        user: "Uživatel"
        politician: "Politik"
        moderator: "Moderátor"
        admin: "Administrátor"
        superAdmin: "Super administrátor"
        superadmin: "Super administrátor"
    exceptions:
        notFound: "Uživatel nenalezen"
        alreadyExists: "Uživatel s tímto uživatelským jménem již existuje"
        alreadyExists_email: "Uživatel s tímto emailem již existuje"
        invalidCredentials: "Neplatné přihlašovací údaje"
        passwordMismatch: "Hesla se neshodují"
        unauthorized: "Neoprávněný přístup"
party:
    list: "Seznam politických stran"
    name: "Název strany"
    name_required: "Zadejte název strany."
    add: "Přidat stranu"
    add_new: "Přidat novou stranu"
    added: "Strana byla úspěšně přidána."
    exists: "Strana s tímto názvem již existuje."
    acronyme: "Zkratka strany"
    acronyme_required: "Zadejte zkratku strany."
    approved: "Schválené strany"
    unapproved: "Neschválené strany"
    no_permission: "Přihlášení uživatelé mají oprávnění přidávat politické strany."
    approve: "Schválit stranu"
    approve_success: "Strana byla úspěšně schválena."
    approve_error: "Chyba při schvalování strany."
region:
    list: "Seznam území"
    name: "Název území"
    name_required: "Zadejte název území."
    parent: "Nadřazené území"
    parent_prompt: "(žádné nadřazené)"
    add: "Přidat území"
    add_new: "Přidat nové území"
    added: "Území bylo úspěšně přidáno."
    exists: "Území se stejným názvem již existuje na této úrovni."
    no_permission_add: "Nemáte oprávnění přidávat území."
    approve: "Schválit"
    approved: "Schválená území"
    unapproved: "Neschválená území"
    approve_success: "Území bylo schváleno."
    approve_error: "Chyba při schvalování území."
    no_permission_approve: "Nemáte oprávnění schvalovat území."
    not_found: "Území nenalezeno."
area:
    list: "Seznam okruhů"
    name: "Název okruhu"
    name_required: "Zadejte název okruhu."
    parent: "Nadřazený okruh"
    parent_prompt: "(žádný nadřazený)"
    add: "Přidat okruh"
    add_new: "Přidat nový okruh"
    added: "Okruh byl úspěšně přidán."
    exists: "Okruh se stejným názvem již existuje na této úrovni."
    no_permission_add: "Nemáte oprávnění přidávat okruhy."
    approve: "Schválit"
    approved: "Schválené okruhy"
    unapproved: "Neschválené okruhy"
    approve_success: "Okruh byl schválen."
    approve_error: "Chyba při schvalování okruhu."
    no_permission_approve: "Nemáte oprávnění schvalovat okruhy."
    not_found: "Okruh nenalezen."
menu:
    home: "Domů"
    about: "O Disputo"
    contact: "Kontakt"
    settings: "Nastavení"
    help: "Nápověda"
    region: "Území"
    area: "Okruhy"
titles:
    home: "Úvodní stránka"
    user_requests: "Uživatelské požadavky"
    political_party: "Politické strany"
    region: "Území"
    area: "Okruhy"
    sign_in: "Přihlášení"
    sign_up: "Registrace"
    sign_out: "Odhlášení"
    profile: "Můj profil"
    error_404: "Stránka nenalezena"
    error_403: "Přístup odepřen"
    error_410: "Stránka odstraněna"
    error_4xx: "Chyba"