hello: "Hello world"
region:
  list: "Regions"
  name: "Region name"
  name_required: "Enter region name."
  parent: "Parent region"
  parent_prompt: "(no parent)"
  add: "Add region"
  add_new: "Add new region"
  added: "Region added successfully."
  exists: "Region with same name exists at this level."
  no_permission_add: "You don't have permission to add regions."
area:
  list: "Areas"
  name: "Area name"
  name_required: "Enter area name."
  parent: "Parent area"
  parent_prompt: "(no parent)"
  add: "Add area"
  add_new: "Add new area"
  added: "Area added successfully."
  exists: "Area with same name exists at this level."
  no_permission_add: "You don't have permission to add areas."
topic:
  list: "Topic List"
  name: "Topic Name"
  name_required: "Please enter topic name."
  description: "Topic Description"
  description_placeholder: "Enter topic description..."
  parent: "Parent Topic"
  parent_prompt: "(no parent topic)"
  area: "Area"
  area_required: "Please select an area."
  region: "Region"
  region_prompt: "(entire country)"
  author: "Author"
  add: "Add Topic"
  add_new: "Add New Topic"
  edit: "Edit"
  save: "Save Changes"
  added: "Topic has been successfully added."
  updated: "Topic has been successfully updated."
  add_error: "Error adding topic"
  update_error: "Error updating topic"
  no_permission_add: "You don't have permission to add topics."
  no_permission_edit: "You don't have permission to edit topics."
  no_permission_edit_this: "You don't have permission to edit this topic."
  not_found: "Topic not found."
  back_to_list: "Back to topic list"
  no_topics: "No topics have been added yet."
  login_required: "You must be logged in to add topics."
menu:
  home: "Home"
  topics: "Topics"
  region: "Regions"
  area: "Areas"
titles:
  home: "Home Page"
  topic: "Topics"
  region: "Regions"
  area: "Areas"