services:
	- App\Core\RouterFactory::createRouter
	- App\Services\DisputoAuthenticator
	- App\Services\DisputoAuthorizator
	- App\Services\DatabaseConsistencyChecker

search:
	-	in: %appDir%
		classes:
			- *Facade
			- *Factory
			- *Repository
			- *Service
