{block menu}
    <div class="menu">
        <ul>
            <li><a href="{link Home:default}">{_messages.menu.home}</a></li>
            {*<li><a href="{link User:default}">User</a></li>
            <li><a href="{link Admin:default}">Admin</a></li>
            <li><a href="{link Auth:logout}">Logout</a></li>*}
        </ul>
        <div class="user-info">
            {if $user->isLoggedIn()}
                <span>Welcome, {$user->getIdentity()->name}!</span>
            {else}
                <span><a href="{plink Sign:In}">{_messages.user.signIn}</a></span>
                <span><a href="{plink Sign:Up}">{_messages.user.signUp}</a></span>
            {/if}
        </div>
    </div>
{/block}